{% extends 'catalog/base.html' %}

{% block content%}
<form method="post" action="" class="form-floating">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header text-center p-3">Регистрация</h5>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-success">Регистрация</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}